<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>SMS Messages Encoder/Decoder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/global.css" />

    {% block header %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>

  <footer>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap-4.0.0.min.js"></script>

    {% block footer %}{% endblock %}
  </footer>
</html>
