<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>SMS Messages Encoder/Decoder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>

  <body id="bgImage">
    <div class="text-center mb-5">
      <h1 id="indexTitle" class="mt-5">SMS Messages Encoder/Decoder</h1>
    </div>

    <br />

    <div class="container text-center border rounded bg-light w-50 mt-5">
      <form class="form-signin" action="/login" method="POST">
        <div class="row justify-content-center mt-5 mb-5">
          <div class="col-5">
            <input
              type="email"
              id="mail"
              name="mail"
              class="form-control mb-2"
              placeholder="Endereço de E-mail"
              required
              autofocus
            />
          </div>
          <div class="col-3">
            <button class="btn btn-success btn-block mb-2" type="submit">
              Iniciar!
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>

  <footer>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap-4.0.0.min.js"></script>
  </footer>
</html>
